.search-bar {
  display: flex;
  align-items: center;
  border-radius: 8px;
  margin: 4rem auto 0 auto;
  width: fit-content;
  border: 1px solid #d0d5dd;
}

.search-bar-icon {
  display: inline-block;
  padding: 0.5rem;
  margin-top: 2px;
  font-size: 1.2rem;
  font-weight: 200;
  color: #667085;
}

.search-bar input {
  border: none;
  outline: none;
  font-size: 1rem;
  padding-left: 0;
  padding-right: 10rem;
}
